body {
      position: relative; 
      background-color: rgb(28, 129, 184);
}

#section1 {padding-top:50px; height:110%; color: #fff; background-color: rgb(80, 80, 80);}
  
#section2 {padding-top:50px; height:110%; color: #fff; background-color: rgb(28, 129, 184);}
  
#section3 {padding-top:50px; height:110%; color: #fff; background-color: rgb(28, 129, 184);}

li {
	
	color: #000 !important;
	
}

div.cont{

	text-align: left !important;
}

table {

	left: 12px !important;

}

ul.unord{
	
	left: 4%;
	
}